In [1]:
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('file.xlsx')

In [3]:
xlsfile

In [4]:
df = xlsfile.parse('Sheet1')

In [5]:
df

   col1  col2  col3
0    23  6678   456
1   234   678   456
2   234     7   345
3    34    56   234
4     5   456  4365