In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [12]:
ser1 = Series(['USA', 'Mexico', 'Canada'], index = [0, 5, 10])
ser1

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ranger

range(0, 15)

In [18]:
ser1.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
ser1.reindex(ranger, method = 'bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [20]:
ser1.reindex(ranger, method = 'nearest')

0        USA
1        USA
2        USA
3     Mexico
4     Mexico
5     Mexico
6     Mexico
7     Mexico
8     Canada
9     Canada
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [22]:
dframe = DataFrame(randn(25).reshape((5, 5)), index = ['A', 'B', 'D', 'E', 'F'], columns = ['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.535776  2.259466  2.204023  0.318651 -0.936973
B -0.784120 -1.389645  0.781434 -0.312579 -0.407787
D  1.680657  1.437163 -2.019127 -0.110247  0.505731
E  0.887912  1.438753  1.525555  0.055102 -1.112961
F -1.258249 -0.859609 -0.023644  0.464438  0.119936

In [32]:
dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

       col1      col2      col3      col4      col5
A -0.535776  2.259466  2.204023  0.318651 -0.936973
B -0.784120 -1.389645  0.781434 -0.312579 -0.407787
C       NaN       NaN       NaN       NaN       NaN
D  1.680657  1.437163 -2.019127 -0.110247  0.505731
E  0.887912  1.438753  1.525555  0.055102 -1.112961
F -1.258249 -0.859609 -0.023644  0.464438  0.119936

In [34]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.535776  2.259466  2.204023  0.318651 -0.936973   NaN
B -0.784120 -1.389645  0.781434 -0.312579 -0.407787   NaN
D  1.680657  1.437163 -2.019127 -0.110247  0.505731   NaN
E  0.887912  1.438753  1.525555  0.055102 -1.112961   NaN
F -1.258249 -0.859609 -0.023644  0.464438  0.119936   NaN