In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj[2]

9

In [7]:
obj.values

array([ 3,  6,  9, 12])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index = ['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [10]:
ww2_cas[0]

8700000

In [11]:
ww2_cas['USSR']

8700000

In [12]:
ww2_cas.index

Index(['USSR', 'Germany', 'China', 'Japan', 'USA'], dtype='object')

In [13]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [14]:
'USA' in ww2_cas

True

In [15]:
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [17]:
ww2_series = Series(ww2_dict)

In [18]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [19]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [20]:
obj2 = Series(ww2_dict, index = countries)

In [21]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [22]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [23]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [24]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [25]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [26]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [27]:
obj2.name = 'World War II Casualties'

In [28]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War II Casualties, dtype: float64

In [29]:
obj2.index.name = 'Country'

In [30]:
obj2

Country
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War II Casualties, dtype: float64

In [ ]:
ob