In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'city': ['Alma', 'Brian Head', 'Fox Park'],
               'altitude': [3158, 3000, 2762]})
df

         city  altitude
0        Alma      3158
1  Brian Head      3000
2    Fox Park      2762

In [3]:
state_map = {'Alma': 'CO', 'Brian Head': 'UT', 'Fox Park': 'WY'}

In [5]:
df['state'] = df['city'].map(state_map)
df

         city  altitude state
0        Alma      3158    CO
1  Brian Head      3000    UT
2    Fox Park      2762    WY